<configuration scan="true" scanPeriod="1 seconds" debug="false">
  <!-- <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /> -->

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>


</configuration>
